<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDCycleScrollViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>745340761DB77BED002D6156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7453408F1DB77BEE002D6156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7453409A1DB77BEE002D6156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
